name: android build scripts

on:
  workflow_dispatch: # Allows manual triggering, which will create a release
  push:
    branches:
      - development
      - main
    paths:
      - '.github/workflows/android-build-scripts-16kb-lgpl.yml'
      - 'android/**'
      - '!android/README.md'
      - 'scripts/**'
      - 'tools/**'
      - 'android.sh'
  pull_request:
    branches:
      - development
      - main
    paths:
      - '.github/workflows/android-build-scripts-16kb-lgpl.yml'
      - 'android/**'
      - '!android/README.md'
      - 'scripts/**'
      - 'tools/**'
      - 'android.sh'

jobs:
  build-main-on-linux:
    name: android main on linux (ndk-r25-16k-lgpl)
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: set up adopt jdk 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: prerequisites
        run: ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --uninstall "cmake;3.10.2.4988404" "cmake;3.18.1"
      - name: set up android ndk r25 (16k support) lgpl
        run: |
          curl -L -s "https://storage.googleapis.com/android-build/builds/aosp-ndk-r25-release-linux-linux/12161346/ca7222ab71c8d5b8add70c147e6b14b8d05d64ea785766db4b1efe9f70eceba1/android-ndk-12161346-linux-x86_64.zip?GoogleAccessId=gcs-sign%40android-builds-project.google.com.iam.gserviceaccount.com&Expires=1768134026&Signature=K8Fk3c%2BwRA0mTsCqCRvwWrkQXN3yHK%2BRw4YL6349ruWaprKWCAFFnZMbmQLcdSxOJszHyb1lDlHTsO%2FGHlmQoSdr1oYExCwP5hbuBzQiBauAgWXpPRRqWlWH2kRxWYOQR74CUmwF%2Fo5t88RyJrVp0vYB3mKituMJ%2FrqSKefU4bBBe0lAjKetxvbnfmHWk%2FMztVsfPVWr9ZirqiJh6Uy%2FJmEXbDvjsGAThyKILT4BoY1ApDMNa%2FKNC2KS5bt%2FxeqJB%2BBHuCf8DbFTjOUQIYtWcV1N4JD7nf1eTifLzkYGd42FYM5dk5giSL%2FBCp9LmBk8lfKP6%2F%2B41mvCoNoEyEfmRg%3D%3D&response-content-disposition=attachment" -o ndk.zip
          unzip -q -o ndk.zip -d .ndk
          echo "ANDROID_NDK_ROOT=$PWD/.ndk/$(ls .ndk)" >> $GITHUB_ENV
      - name: install autogen
        run: sudo apt-get update && sudo apt-get install -y autogen
      - name: install meson and ninja
        run: |
          python3 -m pip install --user meson
          sudo apt-get update
          sudo apt-get install -y ninja-build
      - name: run the build script
        run: ./android.sh -d --full --disable-arm-v7a 
      - name: prepare and upload main aar
        run: |
          AAR_PATH=$(find prebuilt -type f -name 'ffmpeg-kit.aar')
          if [ -z "$AAR_PATH" ]; then
            echo "Error: ffmpeg-kit.aar not found in prebuilt directory."
            exit 1
          fi
          mv "$AAR_PATH" "ffmpeg-kit-main-ndk-r25-16k-lgpl.aar"
      - uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-kit-main-aar
          path: ffmpeg-kit-main-ndk-r25-16k-lgpl.aar
          if-no-files-found: error
      - name: print build logs
        if: ${{ always() }}
        run: cat build.log
      - name: print ffbuild logs
        if: ${{ failure() }}
        run: '[[ -f ./src/ffmpeg/ffbuild/config.log ]] && tail -50 ./src/ffmpeg/ffbuild/config.log'

  build-lts-on-linux:
    name: android lts on linux (ndk-r23-16k) lgpl
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: set up adopt jdk 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: prerequisites
        run: ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --uninstall "cmake;3.10.2.4988404" "cmake;3.18.1"
      - name: set up android ndk r23 (16k support)
        run: |
          curl -L -s "https://storage.googleapis.com/android-build/builds/aosp-ndk-release-r23-linux-linux/12186248/38c84da1ab0dd31ea40c857d2c9ee77450d9d71d76e60ac2ccd33d379babc534/android-ndk-12186248-linux-x86_64.zip?GoogleAccessId=gcs-sign%40android-builds-project.google.com.iam.gserviceaccount.com&Expires=1768134026&Signature=CmkLNqqhLv1AZ36GWnaJ2kQpBcNPQCNiY2uh7gPwDU27wpysX6X8z2O5OrcNRK5H5mmqE8KSiqNjkVQRiOJzeyq2541CNme1lphXYnciQ9jBcWQcoLGTQithaOKcHCkT0e2FKoVIrPH%2F5sD1xqzriHXxZR13Eq5W4Tw0D42lAk%2FW2G4jxJzkgb0GHLDWn5HxbH9Z8dET6M8No%2B4rYL3GSohD4avb0gWJGnS2RAOia6ny96LYtaYaU0pXM2yt%2FM7JVCv%2Fg%2BujlzR97yHfIWo1KaOl2Xh%2B%2FKudojpB3chd0PLFThWMgeO4n0wqgdluIgszhEoJuFSAKEhG3bQNv1MLBg%3D%3D&response-content-disposition=attachment" -o ndk.zip
          unzip -q -o ndk.zip -d .ndk
          echo "ANDROID_NDK_ROOT=$PWD/.ndk/$(ls .ndk)" >> $GITHUB_ENV
      - name: install autogen
        run: sudo apt-get update && sudo apt-get install -y autogen
      - name: install meson and ninja
        run: |
          python3 -m pip install --user meson
          sudo apt-get update
          sudo apt-get install -y ninja-build
      - name: run the build script
        run: ./android.sh -d --lts --full --disable-arm-v7a
      - name: prepare and upload lts aar
        run: |
          AAR_PATH=$(find prebuilt -type f -name 'ffmpeg-kit.aar')
          if [ -z "$AAR_PATH" ]; then
            echo "Error: ffmpeg-kit.aar not found in prebuilt directory."
            exit 1
          fi
          mv "$AAR_PATH" "ffmpeg-kit-lts-ndk-r23-16k-lgpl.aar"
      - uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-kit-lts-aar
          path: ffmpeg-kit-lts-ndk-r23-16k-lgpl.aar
          if-no-files-found: error
      - name: print build logs
        if: ${{ always() }}
        run: cat build.log
      - name: print ffbuild logs
        if: ${{ failure() }}
        run: '[[ -f ./src/ffmpeg/ffbuild/config.log ]] && tail -50 ./src/ffmpeg/ffbuild/config.log'

  create-release:
    name: create github release
    # This job will only start if BOTH of the jobs above complete successfully.
    needs: [build-main-on-linux, build-lts-on-linux]
    runs-on: ubuntu-latest
    # This job will only run if the workflow is started manually.
    if: github.event_name == 'workflow_dispatch'
    permissions:
      contents: write
    steps:
      - name: set release tag
        id: set_tag
        run: echo "TAG_NAME=ffmpeg-kit-android-$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_ENV
      - name: download all aar artifacts
        uses: actions/download-artifact@v4
        with:
          path: aar-artifacts
      - name: list downloaded files for debug
        run: ls -R aar-artifacts
      - name: create github release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: "Android AARs (NDK r25-16k) - ${{ env.TAG_NAME }} (LGPL)"
          body: "Automated release of Android AAR files from Linux builds using NDK r25 with 16kB page size support (LGPL)."
          prerelease: true
          files: aar-artifacts/*/*.aar
